*.pyc
__pycache__/

wandb/

Reasoning-Compression-RL/*

!Reasoning-Compression-RL/
!Reasoning-Compression-RL/utils/
!Reasoning-Compression-RL/utils/**

!Reasoning-Compression-RL/datasets/
Reasoning-Compression-RL/datasets/*
!Reasoning-Compression-RL/datasets/.gitkeep

!Reasoning-Compression-RL/config.yaml
!Reasoning-Compression-RL/train_config.yaml
!Reasoning-Compression-RL/Eval.py
!Reasoning-Compression-RL/evaluate_model.py
!Reasoning-Compression-RL/Train_batched.py
!Reasoning-Compression-RL/Train.py